<html>
    <head>
        <title>Jobify</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">    
        <link href="estilos.css" rel="stylesheet">
    </head>
    <body>
        <h1>Olá Fullstack Lab</h1>
        <img src ="images/logo.png" alt="Jobfy logo" >
        <p>We are Jobify - Join us!</p>
        <h2>Open roles:</h2>
        <div>
            
        </div>
        <p><%- date %></p>
    </body>
</html>